<section>
    <p-table #dt1 [value]="products" dataKey="id" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}
        entries" [globalFilterFields]="['name','representative.name','status']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"
                        (input)="dt1.filterGlobal($event.target.value,
                        'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quntity</th>
                <th>Price</th>
                <th>Manufature Date</th>
                <th>Expiry Date</th>
                <th>Lot No.</th>
                <th>Actions</th>
            </tr>
            <tr>
                <th>
                    <p-column type="text" field="name"></p-column>
                </th>
                <th>
                    <p-columnFilter type="text" field="category"></p-columnFilter>
                </th>
                <th>
                    <p-column type="text" field="quntity"></p-column>
                </th>
                <th>
                    <p-column type="text" field="price"></p-column>
                </th>
                <th>
                    <p-columnFilter type="date" field="matufacture_date" display="menu"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="date" field="expiry_date" display="menu"></p-columnFilter>
                </th>
                <th>
                    <p-column type="text" field="lot_no"></p-column>
                </th>
                <th>
                    <p-column type="text" field="actions"></p-column>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-products let-rowIndex="rowIndex" *ngIf="products.length> 0;">
            <tr>
                <td class="text-center ">
                    {{products?.name}}
                </td>
                <td class="text-center ">
                    {{products?.category}}
                </td>
                <td class="text-center ">
                    {{products?.quntity}}
                </td>
                <td class="text-center ">
                    {{products?.price}}
                </td>
                <td class="text-center ">
                    {{setDateField(products?.matufacture_date) | date: 'yyyy/MM/dd' }}
                </td>
                <td class="text-center ">
                    {{setDateField(products?.expiry_date)| date: 'yyyy/MM/dd'}}
                </td>

                <td class="text-center ">
                    {{rowIndex + 1}}
                </td>
                <td class="text-center ">
                    <i class="pi pi-pencil " (click)="editProduct(products?.name)"></i>
                    <i class="pi pi-trash " (click)="deleteProduct(rowIndex)
                        "></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</section>